################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
*.pdb
*.ilk
/Bin/Bin_Debug
/Bin/Bin_Release
/Bin/Obj
/Setup/Output
/Setup/Setup-cache
/FarsiNegarDLL/Bin
